<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form-pane layui-tab layui-form layui-card">
    <div class="layui-card-body padding-left-40 layui-tab-content">
        <div class="layui-form-item">
            <label class="layui-form-label color-green">账户标题</label>
            <div class="layui-input-block">
                <input name="name" value="{$vo.name|default=''}" placeholder="请输入账户标题" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">账户标识</label>
            <div class="layui-input-block">
                <input name="code" value="{$vo.code|default=''}" placeholder="请输入账户标识" required class="layui-input">
            </div>
        </div>
        <div class="layui-tab-item">
            <label class="layui-form-item block relative margin-top-10">
                <textarea placeholder="请输入详细内容" class="layui-textarea" name="content">{$vo.content|default=""}</textarea>
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>