{extend name='table'}

{block name="button"}
<!--{if auth("add")}-->
<button data-modal='{:url("add")}' class='layui-btn layui-btn-sm layui-btn-primary'>添加账户</button>
<!--{/if}-->
<!--{if auth("remove")}-->
<a data-confirm="确定永久删除账户吗？" data-table-id="MasterTable" data-action='{:url("remove")}' data-rule="id#{id}" class='layui-btn layui-btn-sm layui-btn-primary'>批量删除</a>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <div class="layui-tab-content">
        {include file='master/index_search'}
        <table id="MasterTable" data-url="{:request()->url()}"></table>
    </div>
</div>
{/block}

{block name='script'}
<script>
    $(function () {
        let $table = $('#MasterTable').layTable({
            even: true, height: 'full',
            cellExpandedMode: 'tips',
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'code', title: '账户编号',  align: 'center',minWidth: 150},
                {field: 'name', title: '账户标题',  align: 'center',minWidth: 150},
                {field: 'status', title: '账户状态', align: 'center', width: 200, templet: '#StatusSwitchTpl'},
                {field: 'create_at', title: '创建时间', align: 'center', width: 200, sort: true},
                {toolbar: '#toolbar', title: '操作面板', align: 'center', width: 200, fixed: 'right'}
            ]]
        });

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj) {
            let data = {id: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('state')}", data, 'post', function (ret) {
                ret.code > 0 ? $table.trigger('reload') : $.msg.error(ret.info, 3, function () {
                    $table.trigger('reload');
                });
                return false;
            }, false);
        });
    });
</script>
<!-- 数据状态切换模板 -->
<script type="text/html" id="StatusSwitchTpl">
    <!--{if auth("state")}-->
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="已激活|已禁用" lay-filter="StatusSwitch" {{d.status>0?'checked':''}}>
    <!--{else}-->
    {{d.status ? '<b class="color-green">已启用</b>' : '<b class="color-red">已禁用</b>'}}
    <!--{/if}-->
</script>

<script type="text/html" id="toolbar">
    <!-- {if auth("edit")} -->
    <a class="layui-btn layui-btn-sm" data-modal='{:url("edit")}?id={{d.id}}'>编 辑</a>
    <!--{/if}-->

    <!--{if auth("remove")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要永久删除此账户吗？" data-action="{:url('remove')}" data-value="id#{{d.id}}">删 除</a>
    <!--{/if}-->
</script>
{/block}
